################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeleniumTest/v15
/SeleniumTest/bin/Debug
/UnitTestProject1/bin/Debug
